:root {
  --orange: rgb(255, 176, 0);
  --off-white: rgb(245, 245, 200);
  --salmon: rgb(255, 207, 157);
  --green: rgb(0, 66, 37);
  --pure-white: rgb(255, 255, 255);
}

body {
  background-color: var(--green);
 
  color: var(--pure-white);
  /* display: flex;
  justify-content: center; */
}

.header {
  font-size: 3.7rem;
  font-weight: 900;
  text-align: center;
  color: var(--salmon);
  font-family: "Pacifico", cursive;
  /*x y blur color*/
   text-shadow: 2px 2px 20px var(--pure-white); 
   animation: flashes 1.5s .5s infinite;  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item { 
  width: 55%;
}

div.item.space.search-panel {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 10px 5px;
  color: var(--green);
  background-color: var(--salmon);
  display: none; /*hide the search panel*/
}

.space {
  margin: 10px 0;
}

fieldset {
  border-radius: 10px;
}

#form-rand-search-id,
.card,

#select-language-id,
.block-item,
button[type="submit"] {
  font-size: 1.3rem;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.2rem;
  width: 1.2rem;
}

.block {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.block-item {
  flex-basis: auto; 
  margin: 8px 0;
}

button[type="submit"] {
  width: 100%;
  margin-right: 2px;
  border-radius: 10px;
  color: var(--off-white);
  background-color: var(--green);
  border: 2px solid var(--off-white);
}

.card {
  /*font-family: "Times New Roman", Times, serif;*/
 
  height: 250px;
  color: var(--green);
  margin: 2em 0 1em 0;
  background-color: var(--off-white);
  box-shadow: 0 0 10px 5px var(--orange);
  border-radius: 10px;
  padding: 10px 20px;
  word-break: break-all;
}

@keyframes flashes {
  from {
    text-shadow: 2px 2px 20px var(--pure-white);
  }
  to {
    text-shadow: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
}
