<footer >
    <span>Copyright © <%= (new Date()).getFullYear() %></span>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="../js/action.js"></script>  
</body>
</html>