<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="@domecorleone" />
  <meta name="description"
    content="This website is for academic purpose only. It's to showcase the use of a Public API using Node.js and Express.js" />
  <meta name="keywords" content="node.js, express.js, API, body-parser" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Domine&family=Pacifico&family=Roboto+Slab:wght@200&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../style/styles.css" />
  <title>Joke Searcher</title>
</head>

<body>
  <header>
    <p class="header">Funniest Jokes Ever</p>
  </header>